---
import type { CollectionEntry } from 'astro:content'
import ListPostItem from './PlainPostItem.astro'
import { cn } from '@/utils'

type Props = {
	posts: CollectionEntry<'blog'>[]
	groupByMonth?: boolean
}

const { posts, groupByMonth } = Astro.props
---

<div class={cn('flex flex-col gap-y-4', { 'gap-y-8': !groupByMonth })}>
	{
		posts.map(async (post, index) => {
			const { remarkPluginFrontmatter } = await post.render()

			if (
				groupByMonth &&
				(index == 0 || posts[index - 1].data.pubDate.getMonth() !== post.data.pubDate.getMonth())
			) {
				return (
					<>
						<p class='my-5 text-4xl font-bold text-gray-800 dark:text-white'>
							<span>{post.data.pubDate.getFullYear()}年</span>
							<span>{post.data.pubDate.getMonth() + 1}月</span>
						</p>
						<ListPostItem
							data={post.data}
							slug={post.slug}
							readTime={remarkPluginFrontmatter.minutesRead}
						/>
					</>
				)
			}

			return (
				<ListPostItem
					data={post.data}
					slug={post.slug}
					readTime={remarkPluginFrontmatter.minutesRead}
				/>
			)
		})
	}
</div>
