---
import type { CollectionEntry } from 'astro:content'
import CoveredPostCard from '@/components/list/CoveredPostCardItem'
import { cn } from '@/utils'
import PlainPostCard from './PostCardItem.astro'

type Props = {
	posts: CollectionEntry<'blog'>[]
	FirstBig?: boolean
}

const { posts, FirstBig = false } = Astro.props
---

<section
	class={cn(
		`grid auto-rows grid-flow-row-dense grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-3`,
		FirstBig && `md:[&>*:first-child]:col-span-2`
	)}
>
	{
		posts.map(async (post) => {
			const { remarkPluginFrontmatter } = await post.render()

			return post.data.cover ? (
				<CoveredPostCard
					data={post.data}
					slug={post.slug}
					readTime={remarkPluginFrontmatter.minutesRead}
				/>
			) : (
				<PlainPostCard
					data={post.data}
					slug={post.slug}
					readTime={remarkPluginFrontmatter.minutesRead}
				/>
			)
		})
	}
</section>
