---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '@/components/FormattedDate'
import ArrowUp from '@/components/icons/ArrowUp'
import HoverAnimatedLink from './HoverAnimatedLink.astro'

type Props = {
	data: CollectionEntry<'blog'>['data']
	readTime: string
	slug: CollectionEntry<'blog'>['slug']
}

const {
	data: { title, description, pubDate, category },
	readTime,
	slug
} = Astro.props
---

<article class='flex flex-row justify-between px-6'>
	<div class='flex flex-col gap-y-2'>
		<a
			class='text-xl font-semibold tracking-wide text-ellipsis animated-link'
			href={`/post/${slug}/`}
		>
			{title}
		</a>
		<div class='flex flex-row gap-x-2'>
			<FormattedDate date={pubDate} faded />
			<a class='text-sm text-gray-600 dark:text-white' href={`/category/${category.toLowerCase()}`}
				>{category}</a
			>
		</div>
	</div>
	<aside class='flex items-center'>
		<HoverAnimatedLink class='justify-center' href={`/post/${slug}/`} ariaLabel=`go to ${title}`>
			<span class='hidden md:inline'>阅读 ({readTime})</span>
		</HoverAnimatedLink>
	</aside>
</article>
